.contact-e-50 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    background-color: var(--vId-color-token-c);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    z-index: 1000;
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.contact-e-61 {
    padding: 10px 0px 10px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border-radius: 0px 30px 0px 0px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    margin-right: auto
}

.contact-e-52 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: none;
    position: relative
}

.contact-e-51 {
    padding: 0px 0px 0px 0px;
    color: var(--vId-color-token-d);
    font-size: 22px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: block;
    position: relative
}

.contact-e-62 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-60 {
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -moz-column-gap: 32px;
         column-gap: 32px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    z-index: 3000;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.contact-e-55 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: none;
    position: relative
}

.contact-e-54 {
    padding: 0px 0px 0px 0px;
    color: #ffffff;
    text-align: left;
    font-size: 22px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: block;
    position: relative
}

.contact-e-53 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-59 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-58 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-57 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-56 {
    padding: 10px 30px 10px 30px;
    background-color: var(--vId-color-token-b);
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: groove groove groove groove;
    border-color: var(--vId-color-token-b) var(--vId-color-token-b) var(--vId-color-token-b) var(--vId-color-token-b);
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-18 {
    padding: 100px 16px 100px 16px;
    flex-direction: column;
    background-color: var(--vId-color-token-c);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.contact-e-17 {
    padding: 0px 16px 50px 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    -moz-column-gap: 50px;
         column-gap: 50px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 1200px;
    margin-right: auto
}

.contact-e-20 {
    width: 100%;
    height: auto;
    max-width: 560px;
    position: relative
}

.contact-e-16 {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 560px
}

.contact-e-15 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    align-items: stretch;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: auto;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 560px;
    margin-bottom: auto
}

.contact-e-2 {
    row-gap: 40px;
    font-family: var(--vId-font-token-a);
    font-size: 50px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 10px 0px 5px 0px;
    line-height: 60px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    text-align: left;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-1 {
    row-gap: 20px;
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-14 {
    padding: 50px 0px 0px 0px;
    flex-direction: column;
    row-gap: 20px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 560px;
    position: relative
}

.contact-e-9 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.contact-e-8 {
    flex-direction: column;
    row-gap: 8px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.contact-e-6 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-7 {
    padding: 12px 16px 12px 12px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: var(--vId-color-token-d);
    line-height: 26px;
    background-color: #7f7f7f19;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border: 1px solid #cccccc;
    border-radius: 8px 8px 8px 8px;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.contact-e-13 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    position: relative
}

.contact-e-12 {
    flex-direction: column;
    row-gap: 8px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.contact-e-10 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-11 {
    padding: 12px 16px 12px 12px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: var(--vId-color-token-d);
    line-height: 26px;
    background-color: #7f7f7f19;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border: 1px solid #cccccc;
    border-radius: 8px 8px 8px 8px;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.contact-e-5 {
    flex-direction: column;
    row-gap: 8px;
    z-index: 15050;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.contact-e-3 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-4 {
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--vId-font-token-a);
    color: var(--vId-color-token-d);
    background-color: #7f7f7f19;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border: 1px solid #cccccc;
    border-radius: 8px 8px 8px 8px;
    z-index: 15050;
    height: 100px;
    width: 100%;
    display: block;
    position: relative
}

.contact-e-19 {
    padding: 10px 30px 10px 30px;
    background-color: var(--vId-color-token-a);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: groove groove groove groove;
    border-color: var(--vId-color-token-a) var(--vId-color-token-a) var(--vId-color-token-a) var(--vId-color-token-a);
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-22 {
    padding: 100px 16px 30px 16px;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background-color: var(--vId-color-token-b);
    width: 100%;
    height: auto;
    margin-left: auto;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative;
    max-width: 1980px;
    margin-right: auto
}

.contact-e-37 {
    padding: 16px 0px 16px 0px;
    justify-content: space-between;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    max-width: 1200px;
    position: relative
}

.contact-e-36 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 50%;
    display: flex;
    position: relative
}

.contact-e-48 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: #ffffffff;
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    margin-left: NaNpx;
    margin-top: NaNpx
}

.contact-e-35 {
    padding: 20px 20px 20px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border-radius: 8px 8px 8px 8px;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.contact-e-49 {
    padding: 12px 16px 12px 16px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    background-color: #ffffff;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border: 1px solid #cccccc;
    border-radius: 8px 8px 8px 8px;
    border-width: 0px 0px 0px 0px;
    border-style: none none none none;
    border-color: transparent transparent transparent transparent;
    box-shadow: 0px 1px 2px 0px #0000000c;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    max-width: 300px
}

.contact-e-34 {
    padding: 10px 30px 10px 30px;
    background-color: var(--vId-color-token-a);
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: groove groove groove groove;
    border-color: var(--vId-color-token-a) var(--vId-color-token-a) var(--vId-color-token-a) var(--vId-color-token-a);
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-33 {
    justify-content: space-between;
    width: 40%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.contact-e-26 {
    padding: 0px 20px 0px 20px;
    justify-content: flex-start;
    row-gap: 10px;
    z-index: 50;
    width: 50%;
    height: auto;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.contact-e-25 {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.contact-e-23 {
    font-family: var(--vId-font-token-a);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
    padding: 0px 0px 10px 0px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-24 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-41 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-40 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-39 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-32 {
    padding: 0px 20px 0px 20px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 50%;
    height: auto;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.contact-e-31 {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.contact-e-27 {
    font-family: var(--vId-font-token-a);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
    padding: 0px 0px 10px 0px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-30 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-29 {
    align-items: stretch;
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    z-index: 50;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-28 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 300;
    color: #ffffffe5;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.contact-e-38 {
    background-color: #ccc;
    width: 900%;
    height: 1px;
    min-height: 1px;
    min-width: 20px;
    display: block;
    max-width: 1140px;
    position: relative
}

.contact-e-47 {
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-left: auto;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    margin-right: auto;
    position: relative
}

.contact-e-42 {
    width: 30px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-46 {
    width: 30px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-45 {
    width: 30px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-44 {
    width: 30px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.contact-e-43 {
    width: 30px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

* {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    display: inherit;
    height: inherit;
    width: initial;
    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    -moz-column-gap: inherit;
         column-gap: inherit;
    -o-object-fit: inherit;
       object-fit: inherit
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

video {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.paragraph span,
.headerOne span,
.headerTwo span,
.headerThree span,
.headerFour span,
.headerFive span,
.headerSix span {
    display: inline
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.paragraph a,
.headerOne a,
.headerTwo a,
.headerThree a,
.headerFour a,
.headerFive a,
.headerSix a {
    color: inherit;
    display: inline
}

p strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.paragraph strong,
.headerOne strong,
.headerTwo strong,
.headerThree strong,
.headerFour strong,
.headerFive strong,
.headerSix strong {
    font-weight: 700
}

.cd-slider-v1--slidesWrapper {
    height: 100% !important;
    white-space: nowrap !important;
    position: relative !important;
    display: block !important
}

.cd-slider-v1--slidesWrapper>* {
    white-space: normal
}

.cd-slider-v1--slide {
    display: inline-flex !important;
    vertical-align: top !important
}

.cd-slider-v1--slidesWrapper.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--slide.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--arrowBar {
    z-index: 900
}

.cd-slider-v1--arrowBar>* {
    cursor: pointer
}

.cd-slider-v1--slideTransitionLinear .cd-slider-v1--slide {
    transition: transform 700ms linear 0s !important
}

.cd-slider-v1--slideTransitionEaseIn .cd-slider-v1--slide {
    transition: transform 700ms ease-in 0s !important
}

.cd-slider-v1--slideTransitionEaseOut .cd-slider-v1--slide {
    transition: transform 700ms ease-out 0s !important
}

.cd-slider-v1--slideTransitionEaseInOut .cd-slider-v1--slide {
    transition: transform 700ms ease-in-out 0s !important
}

.cd-slider-v1--slideTransitionEaseOutIn .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1) 0s !important
}

.cd-slider-v1--slideTransitionQuadEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important
}

.cd-slider-v1--slideTransitionCubicEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.32, 0.64, 0.45, 0.93) 0s !important
}

.cd-slider-v1--slideTransitionQuartEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.5, 0.9, 0.5, 0.9) 0s !important
}

.cd-slider-v1--slideTransitionQuintEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s !important
}

.cd-slider-v1--slideTransitionSineEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s !important
}

.cd-slider-v1--slideTransitionExpoEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.7, 0, 0.84, 0) 0s !important
}

.cd-slider-v1--slideTransitionElasticEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBounceEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBackEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important
}

.contact-e-53:hover {
    font-family: var(--vId-font-token-a);
    color: var(--vId-color-token-a);
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #00000000 transparent
}

.contact-e-59:hover {
    font-family: var(--vId-font-token-a);
    color: var(--vId-color-token-a);
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #00000000 transparent
}

.contact-e-58:hover {
    font-family: var(--vId-font-token-a);
    color: var(--vId-color-token-a);
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #00000000 transparent
}

.contact-e-57:hover {
    font-family: var(--vId-font-token-a);
    color: var(--vId-color-token-a);
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #00000000 transparent
}

.contact-e-56:hover {
    background-color: var(--vId-color-token-b);
    border-width: 1px 1px 1px 1px;
    border-color: #000000 #000000 #000000 #000000;
    color: #ffffff
}

.contact-e-7::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #0000007f
}

.contact-e-7::placeholder {
    font-family: Kumbh Sans;
    color: #0000007f
}

.contact-e-11::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #0000007f
}

.contact-e-11::placeholder {
    font-family: Kumbh Sans;
    color: #0000007f
}

.contact-e-4::-moz-placeholder {
    font-family: Roboto;
    color: #0000007f
}

.contact-e-4::placeholder {
    font-family: Roboto;
    color: #0000007f
}

.contact-e-19:hover {
    background-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-color: #000000 #000000 #000000 #000000;
    color: #ffffff
}

.contact-e-49::-moz-placeholder {
    color: #667085
}

.contact-e-49::placeholder {
    color: #667085
}

.contact-e-34:hover {
    background-color: var(--vId-color-token-b);
    border-width: 1px 1px 1px 1px;
    border-color: var(--vId-color-token-b) var(--vId-color-token-b) var(--vId-color-token-b) var(--vId-color-token-b);
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    border-style: groove groove groove groove
}

.contact-e-24:hover {
    color: var(--vId-color-token-a)
}

.contact-e-41:hover {
    color: var(--vId-color-token-a)
}

.contact-e-40:hover {
    color: var(--vId-color-token-a)
}

.contact-e-39:hover {
    color: var(--vId-color-token-a)
}

.contact-e-30:hover {
    color: var(--vId-color-token-a)
}

.contact-e-29:hover {
    color: var(--vId-color-token-a)
}

.contact-e-28:hover {
    color: var(--vId-color-token-a)
}

.contact-e-42:hover {
    transform: scale(1.05);
    background-color: #00000000
}

.contact-e-46:hover {
    transform: scale(1.05)
}

.contact-e-45:hover {
    transform: scale(1.05)
}

.contact-e-44:hover {
    transform: scale(1.05)
}

.contact-e-43:hover {
    transform: scale(1.05)
}

@media (max-width:1199px) {
    .contact-e-61 {
        padding: 0px 16px 0px 16px;
        flex-direction: row-reverse;
        flex-wrap: nowrap
    }

    .contact-e-52 {
        display: flex
    }

    .contact-e-51 {
        width: auto;
        height: auto
    }

    .contact-e-60 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        justify-content: flex-start;
        -moz-column-gap: 0px;
             column-gap: 0px;
        row-gap: 20px;
        background-color: var(--vId-color-token-b);
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        display: none;
        min-height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px
    }

    .contact-e-55 {
        align-items: flex-end;
        width: 100%;
        display: flex
    }

    .contact-e-54 {
        width: auto;
        height: auto
    }

    .contact-e-53 {
        color: #ffffff
    }

    .contact-e-59 {
        color: #ffffff
    }

    .contact-e-58 {
        color: #ffffff
    }

    .contact-e-57 {
        color: #ffffff
    }

    .contact-e-56 {
        display: none
    }

    .contact-e-17 {
        padding: 0px 16px 0px 16px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 50px
    }

    .contact-e-16 {
        height: auto
    }

    .contact-e-15 {
        align-items: center;
        height: auto
    }

    .contact-e-22 {
        padding: 50px 16px 16px 16px;
        margin-top: 5px
    }

    .contact-e-37 {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: 16px
    }

    .contact-e-36 {
        padding: 0px 0px 0px 0px;
        align-items: center;
        row-gap: 30px;
        width: 100%
    }

    .contact-e-48 {
        color: #ffffff
    }

    .contact-e-35 {
        padding: 15px 15px 15px 15px;
        width: 70%
    }

    .contact-e-33 {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        width: 100%
    }

    .contact-e-26 {
        justify-content: center;
        align-items: center
    }

    .contact-e-32 {
        align-items: center
    }

    .contact-e-31 {
        align-items: center
    }

    .contact-e-38 {
        width: 100%;
        max-width: 900px
    }
}

@media (max-width:767px) {
    .contact-e-50 {
        position: relative
    }

    .contact-e-61 {
        padding: 0px 6px 0px 6px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    .contact-e-52 {
        position: relative
    }

    .contact-e-51 {
        position: relative
    }

    .contact-e-62 {
        color: var(--vId-color-token-d);
        position: relative
    }

    .contact-e-60 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 20px;
        background-color: var(--vId-color-token-b);
        position: fixed
    }

    .contact-e-55 {
        align-items: flex-end;
        position: relative
    }

    .contact-e-54 {
        text-align: right;
        position: relative
    }

    .contact-e-53 {
        color: #ffffff;
        position: relative
    }

    .contact-e-59 {
        color: #ffffff;
        position: relative
    }

    .contact-e-58 {
        color: #ffffff;
        position: relative
    }

    .contact-e-57 {
        color: #ffffff;
        position: relative
    }

    .contact-e-56 {
        position: relative
    }

    .contact-e-18 {
        padding: 60px 16px 60px 16px;
        position: relative
    }

    .contact-e-17 {
        padding: 0px 0px 0px 0px;
        flex-direction: column;
        row-gap: 30px;
        position: relative
    }

    .contact-e-20 {
        position: relative
    }

    .contact-e-16 {
        flex-direction: column;
        position: relative
    }

    .contact-e-15 {
        padding: 32px 0px 32px 0px;
        justify-content: center;
        align-items: center;
        position: relative
    }

    .contact-e-2 {
        font-size: 30px;
        line-height: 40px;
        position: relative
    }

    .contact-e-1 {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .contact-e-14 {
        position: relative
    }

    .contact-e-9 {
        position: relative
    }

    .contact-e-8 {
        position: relative
    }

    .contact-e-6 {
        position: relative
    }

    .contact-e-7 {
        position: relative
    }

    .contact-e-13 {
        position: relative
    }

    .contact-e-12 {
        position: relative
    }

    .contact-e-10 {
        position: relative
    }

    .contact-e-11 {
        position: relative
    }

    .contact-e-5 {
        position: relative
    }

    .contact-e-3 {
        position: relative
    }

    .contact-e-4 {
        position: relative
    }

    .contact-e-19 {
        position: relative
    }

    .contact-e-22 {
        padding: 16px 16px 16px 16px;
        position: relative
    }

    .contact-e-37 {
        padding: 30px 0px 16px 0px;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        position: relative
    }

    .contact-e-36 {
        padding: 0px 0px 0px 0px;
        align-items: center;
        row-gap: 20px;
        position: relative
    }

    .contact-e-48 {
        color: #ffffff;
        position: relative
    }

    .contact-e-35 {
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        position: relative
    }

    .contact-e-49 {
        position: relative
    }

    .contact-e-34 {
        position: relative
    }

    .contact-e-33 {
        flex-direction: column;
        row-gap: 16px;
        position: relative
    }

    .contact-e-26 {
        padding: 0px 0px 0px 0px;
        width: 100%;
        position: relative
    }

    .contact-e-25 {
        align-items: center;
        width: 100%;
        position: relative
    }

    .contact-e-23 {
        position: relative
    }

    .contact-e-24 {
        position: relative
    }

    .contact-e-41 {
        position: relative
    }

    .contact-e-40 {
        position: relative
    }

    .contact-e-39 {
        position: relative
    }

    .contact-e-32 {
        padding: 0px 0px 0px 0px;
        align-items: center;
        row-gap: 32px;
        width: 100%;
        position: relative
    }

    .contact-e-31 {
        align-items: center;
        width: 100%;
        position: relative
    }

    .contact-e-27 {
        position: relative
    }

    .contact-e-30 {
        position: relative
    }

    .contact-e-29 {
        position: relative
    }

    .contact-e-28 {
        text-align: center;
        position: relative
    }

    .contact-e-38 {
        position: relative
    }

    .contact-e-47 {
        -moz-column-gap: 20px;
             column-gap: 20px;
        position: relative
    }

    .contact-e-42 {
        position: relative
    }

    .contact-e-46 {
        position: relative
    }

    .contact-e-45 {
        position: relative
    }

    .contact-e-44 {
        position: relative
    }

    .contact-e-43 {
        position: relative
    }
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}

/* HTMLCode Component Content Resets */
/* Resets for HTMLCode component contact-e-20 */
.contact-e-20 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-20 span { display: initial; }
/* Resets for HTMLCode component contact-e-42 */
.contact-e-42 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-42 span { display: initial; }
/* Resets for HTMLCode component contact-e-46 */
.contact-e-46 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-46 span { display: initial; }
/* Resets for HTMLCode component contact-e-45 */
.contact-e-45 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-45 span { display: initial; }
/* Resets for HTMLCode component contact-e-44 */
.contact-e-44 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-44 span { display: initial; }
/* Resets for HTMLCode component contact-e-43 */
.contact-e-43 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.contact-e-43 span { display: initial; }
